
.mainContainer{
  display:flex;
  flex-direction: column;
  overflow-y: auto;

}
.navBar{
  height:86px;
  width:100vw;
  background-color: #ffffff;
  display:flex;
  justify-content: space-around;
  align-items: center;


}
.navImage{
  height:45px;
  width:185px;
}
.navBaroptions{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:86px;
  width:500px;
}
.navParagraph:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #fcb103;
  transition: 300ms;
  color:#6D6E71;
  font-family: Poppins;
  font-size: 15.25px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}


.navParagraph:hover:after {
  width: 100%;
}


.serviceTagContainer:hover + .typeOfServiceContainer{
  display:block;
  flex-direction: column;
  align-items: center;
  
  
}
.typeOfServiceContainer{
  display:none;
  flex-direction: column;
  
}
.serviceOptionBar{
  display:flex;
  align-items: center;

}
.serviceTagIcon{
 height:20px;
 width:20px;
}
.serviceSpanElement{
  color:#000000;
}
.navButton{
  width: 193.31px;
height: 50px;
top: 10px;
left: 641.36px;
padding: 17px 20.8px 17px 21px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #00732F;
color:#00732F;
font-weight: 400;
}
.navButton:hover {
  background-color: #00732F;
  color:#ffffff;

}



.getVerifiedContainer{
  width: 1512px;
  height: 254px;
  top: 1880px;
  gap: 0px;
  opacity: 0px;
  background-color: #E8FBFF;
  display:flex;
  align-items: center;
  justify-content: space-around;

}
.getVerifiedHeading{
  width: 500px;
  height: 40px;
  top: 107px;
  left: 128px;
  gap: 0px;
  opacity: 0px;

}
.getverifiedButton{
  width: 216px;
  height: 54px;
  top: 107px;
  left: 1060px;
  padding: 0px 52px 0px 52px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #EB7150;
  color:#ffffff;
  border-width:0px;

}
.getverifiedButton:hover{
  background-color: #ffffff;
  color: #EB7150;
  border:1px solid #EB7150;

}
.getVerifiedSpan{
  text-decoration: underline;
  text-decoration-color: #EB7150;
 
}

.navBaroptionsMobile{
  display:none;
}

.navBarMobileContainer{
  display:none;
}

@media only screen and (max-width: 768px) {
  
.mainContainer{
  display:flex;
  flex-direction: column;
  overflow-y: auto;

}
.navBar{
  height:86px;
  width:100vw;
  background-color: #ffffff;
  display:none;
  justify-content: space-around;
  align-items: center;


}
.navBarMobileContainer{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.navBarMobile{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:86px;
  width:100vw;
  background-color: #ffffff;
}


.barOption{
  height:35px;
  width:35px;
  color:#000000;
}
.navImage{
  height:45px;
  width:185px;
}
.navBaroptions{
  display:none;
 
}
.navBaroptionsMobile{
  display:flex;
  flex-direction: column;
  height:200px;
  width:200px;
  margin-left:20px;

}
.navParagraph:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #fcb103;
  transition: 300ms;
  color:#6D6E71;
  font-family: Poppins;
  font-size: 15.25px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}


.navParagraph:hover:after {
  width: 100%;
}


.serviceTagContainer:hover + .typeOfServiceContainer{
  display:block;
  flex-direction: column;
  align-items: center;
  
  
}
.typeOfServiceContainer{
  display:none;
  flex-direction: column;
  
}
.serviceOptionBar{
  display:flex;
  align-items: center;

}
.serviceTagIcon{
 height:20px;
 width:20px;
}
.serviceSpanElement{
  color:#000000;
}
.navButton{
  width: 193.31px;
height: 50px;
top: 10px;
left: 641.36px;
padding: 17px 20.8px 17px 21px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #00732F;
color:#00732F;
font-weight: 400;
}
.navButton:hover {
  background-color: #00732F;
  color:#ffffff;

}



.getVerifiedContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 630px;
  height: 200px;
  top: 1880px;
  gap: 0px;
  opacity: 0px;
  background-color: #E8FBFF;
  

}
.getVerifiedHeading{
  width: 500px;
  height: 40px;
  top: 107px;
  left: 128px;
  gap: 0px;
  opacity: 0px;

}
.getverifiedButton{
  width: 216px;
  height: 54px;
  top: 107px;
  left: 1060px;
  padding: 0px 52px 0px 52px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #EB7150;
  color:#ffffff;
  border-width:0px;

}
.getverifiedButton:hover{
  background-color: #ffffff;
  color: #EB7150;
  border:1px solid #EB7150;

}
.getVerifiedSpan{
  text-decoration: underline;
  text-decoration-color: #EB7150;
 
}



}